@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 1rem;
}

@media (max-width: 400px) {
  .cards {
    display: block;
    width: 150%;    
  }

  #username {
    display: none;
  }

  .logo {
    padding: 0px;
    margin: 0px;
    left: 0px;
  }

  #map {
    width: 150%;
  }
}


@media (max-width: 800px) {
  .cards {
    display: block;
    width: 100%;    
  }

  #username {
    display: none;
  }

  .logo {
    padding: 0px;
    margin: 0px;
    left: 0px;
  }

  #map {
    width: 100%;
  }
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);  
  flex: 1;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 400px;
  /* width: 300px; */
}
  
.cards > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
  

*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  color: @gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.logo {
  color: #6ebf54;
  padding: 5px 10px;
}

.photo {    
  height: 70%; 
  width: 100%;
  vertical-align: middle;  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}
    
.property_type {
  -webkit-box-align: center !important;
  font-size: 14px !important;
  line-height: 18px !important;
  align-items: center !important;
  display: inline-flex !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  width: 100% !important;
}

.name {
  flex: 1 1 auto;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  color: rgb(34, 34, 34) !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.price {
  flex: 1 1 auto;
  -webkit-box-align: center !important;
  align-items: center !important;
  color: rgb(34, 34, 34) !important;
  display: flex !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.nights {
  flex: 1 1 auto;
  -webkit-box-align: center !important;
  align-items: center !important;
  color: rgb(34, 34, 34) !important;
  display: flex !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: sticky; 
  z-index: 100;
  flex: 1;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;

}

.myButton {	
  display: flex;  
	background-color:transparent;
	border-radius:15px;
  border-width: 0px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
  padding: 16px 16px 0px 16px;
  margin: 10px;
  text-decoration:none;
  border-width: 0px;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {	
  display: flex;  
	background-color:transparent;
	border-radius:28px;
	border:1px solid #ededed;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
  padding: 10px 10px 10px 10px;
  margin: -5px;
  text-decoration:none;	
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  flex-wrap: nowrap;
}
.myButton2:hover {
	background-color:transparent;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.vbar {
  height: 100% !important;
  width: 1px !important;
  background-color: rgb(235, 235, 235) !important;
}

.hbar {
  height: 1px !important;
  width: 100% !important;
  background-color: rgb(235, 235, 235) !important;
}

.buttons {
  display: flex;
  height: 48px;
  background-color: white;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  transition: 0.2s;
}

#looking {
  color: #f00;
}

#profile_photo {
  border-radius: 50%;
  width: 32px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #6ebf54;
  color: white;
  border: 1px solid #6ebf54;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
